header {
  color: white;
  padding: 16px;
  text-align: center;
}

header {
  font-size: 50px;
  font-weight: 600;
}

/* Tablet */
@media screen and (min-width: 768px) {
  header {
    padding: 20px;
  }
  
  header {
    font-size: 50px;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  header {
    padding: 24px;
  }
  
  header {
    font-size: 50px;
  }
}